<div class="page">
    <div class="side">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    style="background-color: #f8f9fa;color: #000;">
                    Inversion
            </button>
            <div class="dropdown-menu">  
                <a class="dropdown-item" routerLink="/distancia">I01 Número de proyectos de investigación según financiación</a>
                <a class="dropdown-item" routerLink="/dis_i02">I02 Inversión en I+D a nivel de proyectos</a>
                <a class="dropdown-item" routerLink="/dis_i03">I03 Inversión en I+D por tipo de entidad</a>
                <a class="dropdown-item" routerLink="/dis_i04">I04 Inversión estímulo a productividad</a>
                <a class="dropdown-item" routerLink="/dis_i05">I05 Ingresos recursos propios posgrados</a>
                <a class="dropdown-item" routerLink="/dis_i06">I06 Ingresos por extensión y proyección social</a>
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                style="background-color: #f8f9fa;color: #000;">
                Formacion
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/dis_f01">F01 Jóvenes Investigadores Uptc</a>
                <a class="dropdown-item" routerLink="/dis_f02">F02 Jóvenes Investigadores Colciencias</a>
                <a class="dropdown-item" routerLink="/dis_f03">F03 Semilleros de investigación</a>
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                style="background-color: #f8f9fa;color: #000;">
                Capacidades
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/dis_c01">C01 Grupos de investigación categorizados por Colciencias</a>
                <a class="dropdown-item" routerLink="/dis_c02">C02 Investigadores reconocidos</a>
                <a class="dropdown-item" routerLink="/dis_c021">C02.1 Investigadores docentes según nivel de estudios y tipo de vinculación</a>
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                style="background-color: #f8f9fa;color: #000;">
                Produccion Bibliográfica
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/dis_pb03">PB03 Número de libros sello editorial Uptc</a>
            </div>
        </div>
    </div>
    <div class="col-md-12 mt-12">
        <div class="container">
            <div class="row"><h1>Facultad de Estudios a Distancia</h1></div>
            <div class="row"> <h3>C01. Grupos de investigación categorizados por Colciencias</h3> </div>
            <div class="row" id="barChart" style="width: 150%; height: 500px">
            </div>
        
    </div>
</div>
